$color1: #112233;

* {
  box-sizing: border-box;
  outline: none;
}

#appContainer {
  width: 100%;
  height: 100vh;
}
#listContainer {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  > div {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.4rem;

    &:first-of-type {
      color: #fff;
      background-color: $color1;
    }

  }
}

button {
  width: 50%;
  align-self: center;
  background-color: #263646;
  color: #FFF;
  transition: all 0.5s;
  position: relative;
  border: none;
}


input {
  color: black;
}


@media screen and (min-width: 600px) {
  #listContainer {

    flex-direction: row;
    align-items: stretch;
    >div {
      width: 80%;
      &:first-of-type {
        height: auto;
        width: 30%;
      }

    }
  }
}